---
layout: default
---

.hero
  h1 {{ site.title }}
  p.lead {{ site.description }}

.content
  h2 Latest Posts
  ul.posts
    | {% for post in site.posts limit:5 %}
    li
      a(href="{{ post.url }}") {{ post.title }}
      span.date {{ post.date | date: "%Y-%m-%d" }}
    | {% endfor %}

  h2 Projects
  ul.projects
    | {% for project in site.projects limit:3 %}
    li
      a(href="{{ project.url }}") {{ project.title }}
      p {{ project.excerpt }}
    | {% endfor %}

  h2 Recent Notes
  ul.notes
    | {% for note in site.notes limit:5 %}
    li
      a(href="{{ note.url }}") {{ note.title }}
      span.date {{ note.date | date: "%Y-%m-%d" }}
    | {% endfor %}
