---
layout: default
title: Notes
description: Quick thoughts, learnings, and work-in-progress ideas
permalink: /notes/
hero: true
---

.hero
  h1 {{ page.title }}
  p.lead {{ page.description }}

main.container.mx-auto.px-4.py-8
  | {% if site.notes.size > 0 %}
  | {% for note in site.notes %}
  | {% include card.pug
  |   type="note"
  |   url=note.url
  |   title=note.title
  |   date=note.date
  |   tags=note.tags
  | %}
  | {% endfor %}
  | {% else %}
  p.no-notes No notes yet.
  | {% endif %}
