---
layout: default
title: Projects
description: Tools, experiments, and open source work I've built
permalink: /projects/
---

.hero
  h1 {{ page.title }}
  p.lead {{ page.description }}

| {% if site.projects.size > 0 %}
.projects
  | {% for project in site.projects %}
  article.project-preview
    h2
      a(href="{{ project.url }}") {{ project.title }}
    | {% if project.excerpt %}
    p.excerpt {{ project.excerpt }}
    | {% endif %}
    | {% if project.status %}
    span.status(class="status-{{ project.status }}") {{ project.status }}
    | {% endif %}
    | {% if project.tags %}
    .tags
      | {% for tag in project.tags %}
      span.tag {{ tag }}
      | {% endfor %}
    | {% endif %}
    | {% if project.github or project.demo %}
    .links
      | {% if project.github %}
      a.github(href="https://github.com/{{ project.github }}") GitHub
      | {% endif %}
      | {% if project.demo %}
      a.demo(href="{{ project.demo }}") Live Demo
      | {% endif %}
    | {% endif %}
  | {% endfor %}
| {% else %}
p.no-projects No projects yet.
| {% endif %}
