.hero
  div
    h1 {{ include.title }}
    | {% if include.status %}
    .status(class="status-{{ include.status | slugify }}")
      i.fas.fa-circle-notch.mr-2
      | Status: {{ include.status }}
    | {% endif %}
    | {% assign excerpt_text = include.excerpt | strip_html | strip %}
    | {% assign title_text = include.title | strip %}
    | {% if excerpt_text != '' and excerpt_text != title_text %}
    p.excerpt {{ excerpt_text }}
    | {% endif %}
    | {% if include.description %}
    p.description {{ include.description }}
    | {% endif %}
    | {% include metadata.pug
    |   date=include.date
    |   author=include.author
    |   tags=include.tags
    |   reading_time=include.reading_time
    | %}
    | {% if include.image %}
    .hero-image.mt-6
      img(src="{{ include.image }}" alt="{{ include.title }}" class="w-full rounded-lg shadow-lg object-cover max-h-96")
    | {% endif %}
    | {% if include.github %}
    p.github-link
      a(href="https://github.com/{{ include.github }}" target="_blank" rel="noopener")
        i.fab.fa-github.mr-2
        | View on GitHub
    | {% endif %}
