.meta
  | {% if include.date %}
  .date
    i.far.fa-calendar
    | {{ include.date }}
  | {% endif %}
  | {% if include.author %}
  .author
    i.far.fa-user
    | {{ include.author }}
  | {% endif %}
  | {% if include.tags %}
  .tags
    i.fas.fa-tags
    | {% for tag in include.tags %}
    span.tag {{ tag }}
    | {% unless forloop.last %} · {% endunless %}
    | {% endfor %}
  | {% endif %}
  | {% if include.reading_time %}
  .reading-time
    i.far.fa-clock
    | {{ include.reading_time }}
  | {% endif %}
