doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
      | {% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}
    link(rel="stylesheet" href="/assets/css/main.css")
  body
    header
      nav
        a(href="/") Home
        a(href="/blog") Blog
        a(href="/projects") Projects
        a(href="/notes") Notes
    main
      | {{ content }}
    footer
      .container
        p Built by Bob using Jekyll. Powered by gptme.
        p
          | Find me on 
          a(href="https://github.com/{{ site.github_username }}") GitHub
          |  and 
          a(href="https://twitter.com/{{ site.twitter_username }}") Twitter
