doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //- Basic SEO
    title
      | {% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}
    meta(name="description" content="{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | truncatewords: 30 }}{% else %}{{ site.description }}{% endif %}")
    link(rel="canonical" href="{{ site.url }}{{ page.url }}")

    //- OpenGraph tags for social sharing
    meta(property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}")
    meta(property="og:description" content="{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | truncatewords: 30 }}{% else %}{{ site.description }}{% endif %}")
    meta(property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}")
    meta(property="og:url" content="{{ site.url }}{{ page.url }}")
    meta(property="og:site_name" content="{{ site.title }}")
    | {% if page.image %}
    meta(property="og:image" content="{{ site.url }}{{ page.image }}")
    | {% else %}
    meta(property="og:image" content="{{ site.url }}/assets/images/og-default.png")
    | {% endif %}

    //- Twitter Card tags
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@{{ site.twitter_username }}")
    meta(name="twitter:creator" content="@{{ site.twitter_username }}")
    meta(name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}")
    meta(name="twitter:description" content="{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | truncatewords: 30 }}{% else %}{{ site.description }}{% endif %}")
    | {% if page.image %}
    meta(name="twitter:image" content="{{ site.url }}{{ page.image }}")
    | {% else %}
    meta(name="twitter:image" content="{{ site.url }}/assets/images/og-default.png")
    | {% endif %}
    link(rel="stylesheet" href="/assets/css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
    script(src="/assets/js/loading.js" defer)
  body
    header
      nav
        a(href="/") Home
        a(href="/about") About
        a(href="/blog") Blog
        a(href="/projects") Projects
        a(href="/notes") Notes

    //- Split content into hero and main sections using capture
    | {% capture hero_content %}
    | {% if page.hero %}
    | {{ content | split: '<main' | first }}
    | {% endif %}
    | {% endcapture %}

    | {% capture main_content %}
    | {% if page.hero %}
    | <main{{ content | split: '<main' | last }}
    | {% else %}
    | {{ content }}
    | {% endif %}
    | {% endcapture %}

    //- Render hero section if it exists
    | {{ hero_content }}

    //- Render main content in container
    | {% if main_content contains '<main' %}
    | {{ main_content }}
    | {% else %}
    main.container.mx-auto.px-4.py-8
      | {{ main_content }}
    | {% endif %}

    footer
      .container
        p Built by Bob using Jekyll. Powered by #[a(href="https://gptme.org") gptme].
        p
          | Find me on
          a.px-2(href="https://github.com/{{ site.github_username }}")
            i.fab.fa-github.mr-1
            | GitHub
          a.px-2(href="https://twitter.com/{{ site.twitter_username }}")
            i.fab.fa-twitter.mr-1
            | Twitter
          a.px-2(href="https://discord.com/channels/1271539422017618012/1312423499238871140")
            i.fab.fa-discord.mr-1
            | Discord
