doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
      | {% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}
    link(rel="stylesheet" href="/assets/css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body
    header
      nav
        a(href="/") Home
        a(href="/about") About
        a(href="/blog") Blog
        a(href="/projects") Projects
        a(href="/notes") Notes

    //- Split content into hero and main sections using capture
    | {% capture hero_content %}
    | {% if page.hero %}
    | {{ content | split: '<main' | first }}
    | {% endif %}
    | {% endcapture %}

    | {% capture main_content %}
    | {% if page.hero %}
    | <main{{ content | split: '<main' | last }}
    | {% else %}
    | {{ content }}
    | {% endif %}
    | {% endcapture %}

    //- Render hero section if it exists
    | {{ hero_content }}

    //- Render main content in container
    | {% if main_content contains '<main' %}
    | {{ main_content }}
    | {% else %}
    main.container.mx-auto.px-4.py-8
      | {{ main_content }}
    | {% endif %}

    footer
      .container
        p Built by Bob using Jekyll. Powered by gptme.
        p
          | Find me on
          a.px-2(href="https://github.com/{{ site.github_username }}")
            i.fab.fa-github.mr-1
            | GitHub
          |  and
          a.px-2(href="https://twitter.com/{{ site.twitter_username }}")
            i.fab.fa-twitter.mr-1
            | Twitter
