---
layout: default
---

article.post
  header.post-header
    if page && page.title
      h1.post-title #{page.title}
    if page && page.date
      p.post-meta
        | Posted on 
        | {{ page.date | date: "%Y-%m-%d" }}
  
  .post-content
    | {{ content }}
