---
layout: default
hero: true
---

article.wiki-article
  | {% include hero.pug
  |   title=page.title
  |   description=page.description
  | %}

  main.container.mx-auto.px-4.py-8
    .prose.mx-auto
      //- Strip the first <h1> from content since it duplicates the hero title.
      | {% assign content_parts = content | split: '</h1>' %}
      | {% if content_parts.size > 1 %}
      | {{ content_parts | slice: 1, 9999 | join: '</h1>' }}
      | {% else %}
      | {{ content }}
      | {% endif %}

      .wiki-footer.mt-12.pt-6
        hr(class="my-8 border-border")

        .text-center.mt-8
          a(href="/wiki" class="inline-flex items-center gap-2 text-sm font-medium text-text/60 hover:text-primary no-underline transition-colors")
            i.fas.fa-arrow-left(class="text-[10px]")
            | All wiki articles
